*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root{
  --primary_color: #4da454;
}

body{
  height:100vh;
  background: linear-gradient(to right, #4daf54, #3d8880);
  font-family: Poppins;
  transition: 0.5s;
}

.card{
  margin: 120px auto;
  width: 320px;
  height:400px;
  background-color:#272d40;
  border-radius: 15px;
  padding: 20px;
  color:white;
  position:relative;
}

.card_heart,
.card_cart{
  font-size:25px;
  position:absolute;
  top:20px;
  left:20px;
  cursor:pointer;
}

.card_cart{
  left:unset;
  right:20px;
}

.card_img{
  margin-top: 20px;
  width:90%;
  transition: 0.5s;
}
.card_img img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.card_title{
  transition:0.5s;
  text-align: center;
  font-size: 25px;
  color: var(--primary_color);
  font-weight:bold;
}


.card_price{
  transition:0.5s;
  text-align: center;
  font-size:25px;
  font-weight:bold;
}

.card_size,
.card_color{
  display:flex;
  flex-direction: row;
  align-items: center;  
  margin-bottom:10px;
  font-size: 15px;
}

.card_size span{
  padding: 1px 10px;
  background-color: #dadada;
  color: black;
  border-radius: 5px;
  margin: 0px 5px;
}

.card_color span{
  border-radius: 50%;
  height:15px;
  width:15px;
  margin:0 5px;
}

.card_color_green{
  background: green;
}

.card_color_red{
  background: red;
}

.card_color_black{
  background: black;
}

.card_action button{
  background-color: var(--primary_color);
  border:none;
  outline: none;
  color:white;
  padding:10px 20px;
  font-weight:bold;
  margin-right:10px;
  cursor:pointer;
  transition: 0.5s;
}

.card_action button:hover {
  transform: scale(0.9);
}

.card:hover .card_img{
  transform: translateY(-90px) rotate(-20deg);
  transition-delay: 0.2s;
}

.card:hover .card_title{
  transform: translate(-38px,-72px);
  transition-delay: 0.2s;
}

.card:hover .card_price{
  transform: translate(-117px,-72px);
  transition-delay: 0.2s;
}

.card_detail{
  transition:0.5s;
  margin-top:120px;
  opacity:0;
}

.card:hover .card_detail{
  transform: translateY(-140px);
  opacity:1;
  transition-delay: 0.2s;
}